.sidebar {
  @include pxRem(padding-top, 40);
  @include pxRem(margin-left, -30);
  .nav-item {
    @include border-radius(4);
    &.selected {
      background-color: map-get($color, white-a);
    }
    &:hover {
      background-color: map-get($color, grey-f);
    }
  }
  .nav-link {
    width: 100%;
    font-size: map-get($font-size, normal);
    font-weight: map-get($font-weight, sight);
    &:hover {
      color: map-get($color, primary);
    }
  }
  .sidebar-navigation-links {
    padding-left: 8px;
    li {
      height: 40px;
      display: flex;
      align-items: center;
      &:hover {
        background: #e2e3f3;
      }
    }
  }
  .sidebar-navigation-link {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    span {
      margin-right: 8px;
      display: flex;
      padding-bottom: 2px;
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, medium)) {
  .sidebar {
    @include pxRem(padding-top, 0);
  }
}
