.sidebar {
  @include pxRem(padding-top, 40);
  .nav-item {
    @include border-radius(4);
    &.selected {
      background-color: map-get($color, white-a);
    }
    &:hover {
      background-color: map-get($color, grey-f);
    }
  }
  .nav-link {
    font-size: map-get($font-size, normal);
    font-weight: map-get($font-weight, sight);
    &:hover {
      color: map-get($color, primary);
    }
  }
}

@media only screen and (max-width: map-get($breakpoints, medium)) {
  .sidebar {
    @include pxRem(padding-top, 0);
  }
}
