.article-detail.page-wrapper {
  max-width: $screen-xl;
  margin: auto;
  padding: 1rem;
  background-color: #f5f5f5;
}

.article-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
  @media (min-width: $screen-lg) {
    align-items: normal;
    flex-direction: row;
  }
  .article-block {
    width: 100%;
    max-width: 880px;
    @media (min-width: $screen-lg) {
      margin-right: 1rem;
      width: 66.66666%;
      margin-bottom: 2rem;
    }
  }
  .aside-username-wrapper {
    max-width: 880px;
    width: 100%;
    @media (min-width: $screen-lg) {
      display: block;
      width: 33.33333%;
    }
    position: relative;
    .aside-username-block {
      position: sticky;
      top: 1rem;
      // margin: 0.5rem;
    }
  }
}

.comments-block {
  @media (min-width: $screen-xl) {
    margin: 0.5rem;
  }
}

.article-content-wrapper {
  .page-wrapper {
    max-width: $screen-xl;
    margin: auto;
    padding: 1rem;
  }

  .article-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    @media (min-width: $screen-lg) {
      align-items: normal;
      flex-direction: row;
    }
    .article-block {
      width: 100%;
      max-width: 880px;
      @media (min-width: $screen-lg) {
        margin-right: 1rem;
        width: 66.66666%;
        margin-bottom: 2rem;
      }
    }
    .aside-username-wrapper {
      max-width: 880px;
      width: 100%;
      @media (min-width: $screen-lg) {
        display: block;
        width: 33.33333%;
      }
      position: relative;
      .aside-username-block {
        position: sticky;
        top: 1rem;
        // margin: 0.5rem;
      }
    }
  }

  .comments-block {
    @media (min-width: 1280px) {
      margin: 0.5rem;
    }
  }

  article {
    padding: 0.5rem;
    border-radius: 1rem;
  }

  header {
    margin-bottom: 1rem;
    h1 {
      font-size: 3.25rem;
      letter-spacing: $-ls2;
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;
      .tag {
        font-weight: $bold-body-font-weight;
        line-height: 1;
        padding: 0.5rem 0.5rem;
        margin: 0 0.5rem 0.5rem 0;
        border-radius: 0.25rem;
        box-shadow: $small-shadow;
        &:hover {
          background: $hovered-surface-color;
        }
        &:active {
          background: transparent;
          box-shadow: $small-inner-shadow;
        }
      }
    }
    .image-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      background-color: $primary-dark;
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;
      overflow: hidden;
      @media (min-width: $screen-md) {
        margin-bottom: 1.5rem;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .meta {
      line-height: 1;
      font-size: $text-sm;
      text-transform: uppercase;
      font-weight: $bold-body-font-weight;
      letter-spacing: $-ls2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .scl {
        display: flex;
        span {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          svg {
            margin-right: 0.25rem;
          }
        }
        .comments {
          cursor: pointer;
        }
      }
    }
  }

  .content {
    font-weight: 400;
    .ltag__user {
      display: none;
    }
    iframe {
      max-width: 100%;
    }
    h1 {
      font-size: $text-3xl;
      margin-top: 2rem;
      margin-bottom: 1rem;
      letter-spacing: $-ls2;
    }
    h2 {
      font-size: $text-2xl;
      margin-top: 2rem;
      margin-bottom: 1rem;
      letter-spacing: $-ls2;
    }
    h3 {
      font-size: $text-xl;
      margin-top: 2rem;
      margin-bottom: 1rem;
      letter-spacing: $-ls2;
    }
    h4 {
      font-size: $text-base;
      margin-top: 2rem;
      margin-bottom: 1rem;
      letter-spacing: $-ls2;
    }
    a {
      color: $primary-color;
      display: block;
    }
    p {
      margin-bottom: 1rem;
      line-height: 1.4;
      code {
        background-color: #d2f3e1;
        border-radius: 0.25rem;
        padding: 0.25rem;
      }
    }
    img {
      width: 100%;
      border-radius: 0.5rem;
      height: auto;
    }
    .highlight {
      margin-bottom: 1rem;
      border-radius: 0.5rem;
    }
    ul {
      list-style: numeral;
      margin-bottom: 1rem;
      li p {
        margin-bottom: 0;
      }
    }
    ol {
      margin-bottom: 1rem;
    }
  }
}
