.password-section {
  @include pxRem(max-width, 680);
  @include pxRem(padding, 48);
  @include border-radius(5);
  margin: auto;

  background-color: map-get($color, white-a);
  .section-header {
    text-align: center;
    .password-title {
      @include pxRem(font-size, 30);
      font-weight: 500;
    }
  }
  .section-body {
    .password-hr {
      @include pxRem(margin, 20 0 10 0);
      .hr-txt {
        font-size: 14px;
      }
    }
    .password-field {
      @include pxRem(margin-bottom, 14);
      display: flex;
      flex-direction: column;
    }
    .password-label {
      @include pxRem(margin, 8 0);
      font-weight: 500;
    }
    .password-submit {
      width: 100%;
    }
    .error {
      font-size: map-get($font-size, sm);
      color: map-get($color, danger);
    }
    .forgot-password {
      @include pxRem(margin, 22 0);
      text-align: center;
    }
  }
}
